In [1]:
x = 10
a, b, c = 100, 200, 300

print(x)
print(a, b, c)

10
100 200 300

In [2]:
x = 20
print(x)
print(a, b, c)

20
100 200 300

In [3]:
#자료형

In [4]:
type(10)

int

In [5]:
type(3.5)

float

In [6]:
#연산자

In [7]:
print(1<<2)

4

In [8]:
a = 10
b = 20

a*b

200

In [9]:
a = 2
b = 3

In [10]:
a**b

8

In [11]:
a//b

0

In [12]:
a/b

0.6666666666666666

In [13]:
a%b

2

In [16]:
a, b = 7, 3.0

c = a//b
d = a%b

e = a**b

print(c)
print(d)
print(e)

2.0
1.0
343.0

In [18]:
mike = 80
judy = 75
sera = 100
total = mike+judy+sera
print(total/3)

85.0

In [21]:
not True

False

In [22]:
num1 = input("입력1: ")
num2 = input("입력2: ")

입력1: 10
입력2: 20

In [23]:
num1 = input("입력1: ")
num2 = input("입력2: ")
num3 = input("입력3: ")

if ((num1+num2+num3)/3) > 65 {
    print(True)
} else {
    print(False)
}

SyntaxError: invalid syntax (<ipython-input-23-2b37f44299a9>, line 5)

In [24]:
n1 = input("입력1: ")
n2 = input("입력2: ")
n3 = input("입력3: ")

if ((n1 + n2 + n3)/3) > 65.0 {
    print(True)
} else {
    print(False)

SyntaxError: invalid syntax (<ipython-input-24-f7ef1e7a8717>, line 5)

In [25]:
n1 = 1 
n2 = 2 
n3 = 3

In [26]:
if ((n1 + n2 + n3)/3) > 65.0 {
    print(True)
} else {
    print(False)

SyntaxError: invalid syntax (<ipython-input-26-6ed2efc16bd1>, line 1)

In [27]:
n1 = input("입력1: ")
n2 = input("입력2: ")
n3 = input("입력3: ")

if (n1>65 && n2>65 && n3>65) {
    print(True)
} else {
    print(False)
}

SyntaxError: invalid syntax (<ipython-input-27-6816e0212f41>, line 5)

In [28]:
n1 = input("입력1: ")
n2 = input("입력2: ")
n3 = input("입력3: ")

입력1: 75
입력2: 76
입력3: 75

In [29]:
if (n1>65 && n2>65 && n3>65) {
    print(True)
} else {
    print(False)
}

SyntaxError: invalid syntax (<ipython-input-29-b991f922240a>, line 1)

In [30]:
bool(n1>65 and n2>65 and num3>65)

TypeError: '>' not supported between instances of 'str' and 'int'

In [31]:
n1 = int(input("입력1: "))
n2 = int(input("입력2: "))
n3 = int(input("입력3: "))

입력1: 66
입력2: 66
입력3: 66

In [32]:
if (n1>65 && n2>65 && n3>65) {
    print(True)
} else {
    print(False)
}

SyntaxError: invalid syntax (<ipython-input-32-b991f922240a>, line 1)

In [33]:
type(n1)

int

In [34]:
print(n1>65 and n2>65 and num3>65)

NameError: name 'num3' is not defined

In [35]:
n1 = int(input("입력1: "))
n2 = int(input("입력2: "))
n3 = int(input("입력3: "))

print(n1>65 and n2>65 and num3>65)

입력1: 66
입력2: 67
입력3: 87

NameError: name 'num3' is not defined

In [36]:
n1 = int(input("입력1: "))
n2 = int(input("입력2: "))
n3 = int(input("입력3: "))

print(n1>65 and n2>65 and n3>65)

입력1: 67
입력2: 756
입력3: 4
False

In [37]:
###None

In [38]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [39]:
#문자열

In [40]:
single = "안녕하세요"
print(single)
print(type(single))

안녕하세요
<class 'str'>

In [41]:
multi = """
안녕하세요.
잘 부탁드립니다.
"""
print(multi)
print(type(multi))

안녕하세요.
잘 부탁드립니다.

<class 'str'>

In [42]:
a = 'hello'
b = 'world'

a+b

'helloworld'

In [43]:
a*3

'hellohellohello'

In [48]:
print("Hello\\world")

Hello\world

In [51]:
quote = '12345678910'
quote[0:9:3]

'147'

In [56]:
name = "심재용"
intro = "안녕하세요. 저는 %s입니다." % name
print(intro)

안녕하세요. 저는 심재용입니다.

In [57]:
f1 = "바나나"
f2 = "사과"
intro2 = "안녕하세요 저는 %s입니다. 저는 %s, %s를 좋아합니다"

print(intro2 % (name, f1,f2))

안녕하세요 저는 심재용입니다. 저는 바나나, 사과를 좋아합니다

In [61]:
h = 171.2
intro3 = "안녕하세요. 제 키는 {0}입니다.".format(172)

print(intro3)

안녕하세요. 제 키는 172입니다.

In [63]:
quote = "안녕하세요. 저는 {0}이고, 키는 {1}입니다.".format("심재용", "171.2")
quote

'안녕하세요. 저는 심재용이고, 키는 171.2입니다.'

In [70]:
name = "심재용"
h = 171.2
quote = "안녕하세요. 저는 {0}이고, 키는 {1}입니다.".format(name, h)
quote

'안녕하세요. 저는  심재용  이고, 키는 171.2입니다.'

In [71]:
name = "심재용"
loc = "서울"
intro = f"저는 {name}이고, {loc}에 삽니다."
print(intro)

저는 심재용이고, 서울에 삽니다.

In [72]:
print("""
h

""")

h

In [73]:
a = "20190505chicken19000"

# code 작성
year = ?
day = ?
menu = ?
money = ?

# code 종료

SyntaxError: invalid syntax (<ipython-input-73-b3dccbf5b73f>, line 4)

In [78]:
a = "20190505chicken19000"

year = a[:4]
day  = a[4:8]
menu = a[8:15]
money = a[15:]
print(f"{year}년, {day}에 {menu}를 {money}원 주고 먹었다.")
print(year ,day, menu, money, sep=", ")

2019년, 0505에 chicken를 19000원 주고 먹었다.
2019, 0505, chicken, 19000

In [88]:
a = "90:30:80"

# code 작성
math = int(a[:2])
english = int(a[3:5])
science = int(a[6:8])
print(math, english, science)
average= (math+english+science)/3

print("평균은 %.1f점이다." % average)

90 30 80
평균은 66.7점이다.

In [91]:
quote = "my best career partner"

quote2 = "hello"
b = len(quote2)
print(b)

5

In [94]:
quote2.index("l")
quote2[2]

'l'

In [95]:
quote

'my best career partner'

In [96]:
quote.upper()

'MY BEST CAREER PARTNER'

In [97]:
upper_quote = quote.upper()
upper_quote

'MY BEST CAREER PARTNER'

In [98]:
upper_quote.lower()

'my best career partner'

In [99]:
quote2.replace("he", "hi")

'hillo'

In [100]:
"pear, apple, banana, orange".replace("pear", "mango")

'mango, apple, banana, orange'

In [103]:
quote2.count("z")

0

In [105]:
quote = "        " + quote
quote.strip()

'my best career partner'

In [107]:
fruits = "pear, apple, grape, mango, watermelon"
fruit_list = fruits.split(", ")

In [113]:
print(", ".join(fruit_list))

pear, apple, grape, mango, watermelon

In [120]:
a = "  90:30:80   "

# code 작성
math, english, science = a.split(":")


average = (int(math)+int(english)+int(science))/3

print("%.1f" %average)

66.7

In [121]:
"   1, 2, 3    ".split(",")

['   1', ' 2', ' 3    ']

In [122]:
int("   1")

1

In [123]:
tuple_a = (1,2,3,'a','b','c')
tuple_a

(1, 2, 3, 'a', 'b', 'c')

In [124]:
type(tuple_a)

tuple

In [127]:
dict_me = {
    "name" : "심재용",
    "height" : 171,
    "address" : "경기",
}
dict_me

{'name': '심재용', 'height': 171, 'address': '경기'}

In [133]:
dict_me["name"]

'심재용'

In [137]:
int("12     ")

12

In [140]:
bool([""])

True

In [141]:
###Range

In [142]:
range(10)

range(0, 10)

In [144]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
empty_list = []
empty_list.append(1)
empty_list

[1]

In [148]:
empty_list.append(3)

In [150]:
empty_list.pop()

3

In [151]:
empty_list

[1]

In [152]:
empty_list.extend(["a","b","c"])
empty_list

[1, 'a', 'b', 'c']

In [153]:
sort_list = [3,1,5,2,88,12]
sort_list.sort()

In [154]:
sort_list

[1, 2, 3, 5, 12, 88]

In [155]:
sort_list.sort(reverse = True)

In [160]:
int("   32  ")

32

In [162]:
###List 복사

In [163]:
list_a = [1,2,3,4]
list_a

[1, 2, 3, 4]

In [164]:
list_b = list_a

In [165]:
list_b

[1, 2, 3, 4]

In [166]:
a = 1

In [167]:
a++

SyntaxError: invalid syntax (<ipython-input-167-22e3d6dc1353>, line 1)

In [168]:
b = a
b += 1
b

2

In [169]:
a

1

In [170]:
####해결책

In [171]:
list_b = list_a.copy()

In [172]:
list_b

[1, 2, 3, 4]

In [173]:
list_b[2] = 5
print(list_a)
print(list_b)

[1, 2, 3, 4]
[1, 2, 5, 4]

In [174]:
###다차원 리스트

In [175]:
dim2_list = [[1,2],[3,4]]

In [176]:
dim2_list

[[1, 2], [3, 4]]

In [177]:
import copy
dim2_b_list = copy.deepcopy(dim2_list)
dim2_b_list

[[1, 2], [3, 4]]

In [178]:
###딕셔너리

In [6]:
a = {
    "name" : "심재용",
    "english" : 80,
    "math" : 70,
}

In [180]:
a

{'name': '심재용', 'english': 80, 'math': 70}

In [181]:
dic ={}

In [182]:
dic

{}

In [183]:
'name' in a

True

In [4]:
b = dict(name = "Tom",
            score = {
                "math" : 80,
                "english" : 80,
            }
        )

In [186]:
b

{'name': 'Tom', 'score': {'math': 80, 'english': 80}}

In [193]:
b

{'name': 'Tom', 'score': {'math': 80, 'english': 80}}

In [1]:
from pprint import pprint

In [5]:
pprint(b)

{'name': 'Tom', 'score': {'english': 80, 'math': 80}}

In [7]:
print(a)

{'name': '심재용', 'english': 80, 'math': 70}

In [8]:
print(b)

{'name': 'Tom', 'score': {'math': 80, 'english': 80}}

In [13]:
len(b)

2

In [14]:
len(a)

3

In [15]:
b['score']['korean'] = 100

In [16]:
b

{'name': 'Tom', 'score': {'math': 80, 'english': 80, 'korean': 100}}

### 집합의 연산

In [17]:
s1 = {1,2,3}
s2 = {2,4,5}

In [18]:
print(s1)
print(s2)

{1, 2, 3}
{2, 4, 5}

In [20]:
print(s1 & s2)

{2}

In [23]:
print(s1 | s2)

{1, 2, 3, 4, 5}

In [24]:
s2.union(s1)

{1, 2, 3, 4, 5}

In [26]:
s1 - s2

{1, 3}

In [27]:
s1.add(4)

In [28]:
s1

{1, 2, 3, 4}

In [29]:
s1.remove(2)

In [30]:
s1

{1, 3, 4}

In [31]:
s1.add(2)

In [32]:
s1.add(5)

In [33]:
s1.discard(2)

In [34]:
s1

{1, 3, 4, 5}

In [35]:
s1.remove(2)

KeyError: 2

In [36]:
s1.discard(2)

In [37]:
s1

{1, 3, 4, 5}

In [41]:
if len(s1) ==  5:
    print("5개")
else:
    pass

In [48]:
a = 10 
b = 5

if a == 10:
    print("a는 10")
    print(f"b는 {b}")

a는 10
b는 5

In [63]:
# 사용자로 점수를 3개 입력받아
# 모든 점수가 65점보다 클 경우 합격 아닐경우 불합격을 출력하세요
# 단, 0~100 이 아닌 숫자가 입력된경우 잘못된 “잘못된 점수가 입력되었습니다" 를 출력하세요

flag = True
for i in range(3):
    score = int(input(f"{i+1}번째 점수 입력"))
    if((0 >= score) or (score >= 100)):
        print("잘못된 점수가 입력되었습니다.")
        flag = False
        break
    
    if(score < 65):
        flag = False

if flag :
    print("합격")
else:
    print("불합격")

1번째 점수 입력-1
잘못된 점수가 입력되었습니다.
불합격

In [69]:
# a-b if a>b else b-a
a = int(input("정수를 입력해주세요: "))

print("짝수" if a%2 == 0 else "홀수")

정수를 입력해주세요: 1
홀수

In [70]:
a = 5 
while(a>0):
    print(f"{a}번")
    a -= 1

5번
4번
3번
2번
1번

In [74]:
a= [1,2,3,4,5]
while(len(a)>0):
    print(f"{a.pop()}번")

5번
4번
3번
2번
1번

In [75]:
a

[]

In [76]:
range(0,10,2)

range(0, 10, 2)

In [77]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [78]:
a = [1,2,3,4,5]

for i in a:
    print(i)

1
2
3
4
5

In [89]:
a = int(input("정수를 입력하세요: "))
# b = 1
# while(a>=b):
#     print("*"*b)
#     b += 1
for i in range(a, 0, -1):
    print("*" * (i))

정수를 입력하세요: 5
*****
****
***
**
*

In [92]:
a = ['a','b','c','d','e']
for idx, val in enumerate(a):
    print(idx, val)

0 a
1 b
2 c
3 d
4 e

In [109]:
x = [3, 6, 9, 20, -7, 5]

for i in range(len(x)):
    x[i] *= 10
    print(x[i])
    
print(x)

30
60
90
200
-70
50
[30, 60, 90, 200, -70, 50]

In [123]:
y = {"math": 70, "science": 80, "english": 20}

for i in y:
    y[i] += 10
    print(y[i])

print(y)

80
90
30
{'math': 80, 'science': 90, 'english': 30}

In [110]:
a = int(input("정수를 입력하세요: "))

for i in range(9):
    print(f"{a} * {i+1} = {a*(i+1)}")

정수를 입력하세요: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [122]:
# (1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요
word = ["school", "game", "piano", "science", "hotel", "mountian"]
newWords = []
for i in word:
#     newWords.append(i) if (len(i) >= 6) else continue
    if((len(i) >= 6)):
        newWords.append(i)
    else:
        continue

print(newWords)

['school', 'science', 'mountian']

In [136]:
for i in range(1, 10):
    for j in range(1, 10):
        print(f"{i} * {j} = {i*j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

1-100 까지 숫자중
3과 5의 공배수일경우 “3과 5의 공배수”
나머지 숫자중 3의배수일경우 “3의배수”
나머지 숫자중 5의배수일경우 “5의배수”
모두 해당되지 않을경우 그냥숫자
를 출력하세요

In [143]:
x = int(input("값 입력: "))
for i in range(1, x+1):
    if((i%3 == 0) and (i%5 == 0)):
        print("3과 5의 공배수")
    elif(i%3 ==0):
        print("3의 배수")
    elif(i%5 ==0):
        print("5의 배수")
    else:
        print(i)

값 입력: 21
1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수

### Iter 속성이 있는지

In [132]:
"__iter__" in dir("int")

True

### 사용자로부터 숫자를 계속 입력받다가 s or S 를 입력하면 합계출력

In [139]:
str = ""
total = 0
while (True):
    chk = input("값을 입력해주세요: ")
    if (chk.upper() == "S"):
        break
    total += int(chk)
print(f"합계는 ? {total}")

값을 입력해주세요: 10
값을 입력해주세요: 40
값을 입력해주세요: 123
값을 입력해주세요: s
합계는 ? 173

### 가위(1), 바위(2), 보(3) 을 입력해주세요! : 3             유저 : 보, 컴퓨터 : 보

In [145]:
import random

In [174]:
userResult = [0,0,0]
while (True):
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요! : "))
    if (0 >= user or user >= 4): 
        break
    user %= 4
    
    com = random.randint(1,3) % 4
    print(f"user: {user}, com: {com}")
    # 3 > 2 > 1 > 3
    num = user - com
    
#     if(user == 0):

    if(num==-2 or num == 2):
        if num < 0:
            userResult[0] += 1
        else:
            userResult[2] += 1
#         userResult[0] += 1 if num < 0 else userResult[2] +=1
    elif(num==-1 or num == 1):
#         userResult[0] += 1 if num > 0 else userResult[2] +=1
        if num > 0:
            userResult[0] += 1
        else:
            userResult[2] += 1
    else:
        userResult[1] += 1
        
print(userResult)

가위(1), 바위(2), 보(3) 을 입력해주세요! : 3
user: 3, com: 2
가위(1), 바위(2), 보(3) 을 입력해주세요! : 3
user: 3, com: 1
가위(1), 바위(2), 보(3) 을 입력해주세요! : 4
[1, 0, 1]